* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: #5555ab;
  columns: #fff;
  display: flex;
}

.hero .container {
  width: 100%;
  min-width: 400px;
  margin: auto;
}
